<!--DOCTYPE html-->

{% extends "navbar.html" %}

{% block title %}Home{% endblock %}

{% block content %}
		<!--===== HOME =====-->
		<section>
			<div class="home__container bd-grid">
				<div>
					<img src="https://res.cloudinary.com/dzt95pn0s/image/upload/v1745552071/cards_kunwva.png" alt="" class="home__img">
				</div>

					<div class="home__data">
						<h1 class="home__title">Buy a Booster Box <br> Get a free Booster Pack</h1>
							<p class="home__description">Books and merch. Check out what I offer!</p>
							<a href="{{ url_for('main.products') }}" class="button">Browse All Products</a>
					</div>
				</div>
		</section>

 

{% endblock %}